<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>VetPulse</title>
    </head>
    <body>
        <!-- Sección para crear el botón de agregar -->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button type="button" class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#agregarHistorial">
                            <i class="fas fa-plus"></i> [[#{historial.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Fragmento para agregar historial médico, ventana modal para agregar nuevos historiales -->
        <section th:fragment="agregarHistorial">
            <div id="agregarHistorial" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{historial.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <!-- Aquí va el formulario para agregar historiales médicos -->
                        <form th:action="@{/historial/guardar}" th:object="${historial}" method="POST" class="was-validated">
                            <div class="modal-body">
                                <!-- Campos del formulario para agregar historiales -->
                                <div class="mb-3">
                                    <label for="diagnostico">[[#{historial.diagnostico}]]</label>
                                    <input type="text" class="form-control" name="diagnostico" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="tratamiento">[[#{historial.tratamiento}]]</label>
                                    <input type="text" class="form-control" name="tratamiento" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="fecha_historial">[[#{historial.fecha}]]</label>
                                    <input type="datetime-local" class="form-control" name="fecha_historial" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="activo">[[#{historial.activo}]]</label>
                                    <input class="form-check-input" type="checkbox" name="activo" id="activo"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">[[#{accion.guardar}]]</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Listado de historiales médicos -->
        <section th:fragment="listadoHistoriales" id="historiales">
            <div class="container">
                <div class="row">
                    <div class="col-md-16">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{historial.listado}]]</h4>
                            </div>
                            <!-- Aquí se muestra la tabla con los historiales médicos -->
                            <div th:if="${historiales != null and not #lists.isEmpty(historiales)}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>[[#{historial.diagnostico}]]</th>
                                            <th>[[#{historial.tratamiento}]]</th>
                                            <th>[[#{historial.fecha}]]</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="historial, contador : ${historiales}">
                                            <td th:text="${contador.count}"></td>
                                            <td th:text="${historial.diagnostico}"></td>
                                            <td th:text="${historial.tratamiento}"></td>
                                            <td th:text="${historial.fechaHistorial}"></td>
                                            <td>
                                                <!-- Botones de acciones para cada historial médico -->
                                                <a th:href="@{/historial/editar/{id}(id=${historial.idHistorial})}" class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]
                                                </a>
                                                <a th:href="@{/historial/eliminar/{id}(id=${historial.idHistorial})}" class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                                </a>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="text-center p-2" th:if="${historiales == null or historiales.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="editarHistorial">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST" th:action="@{/historial/guardar}" th:object="${historial}" class="was-validated">
                        <!-- Aquí se pueden incluir campos ocultos si es necesario -->
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4>[[#{accion.actualizar}]]</h4>
                                        </div>
                                        <div class="card-body">
                                            <!-- Campos de edición para el historial médico -->
                                            <div class="mb-3">
                                                <label for="diagnostico">[[#{historial.diagnostico}]]</label>
                                                <input type="text" class="form-control" name="diagnostico" th:field="*{diagnostico}" required="true">
                                            </div>
                                            <div class="mb-3">
                                                <label for="tratamiento">[[#{historial.tratamiento}]]</label>
                                                <input type="text" class="form-control" name="tratamiento" th:field="*{tratamiento}" required="true">
                                            </div>
                                            <div class="mb-3">
                                                <label for="fecha_historial">[[#{historial.fecha}]]</label>
                                                <input type="datetime-local" class="form-control" name="fecha_historial" th:field="*{fecha_historial}" required="true">
                                            </div>
                                            <div class="mb-3">
                                                <label for="activo">[[#{historial.activo}]]</label>
                                                <input class="form-check-input" type="checkbox" 
                                                       name="activo" th:field="*{activo}"
                                                       id="activo"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 d-grid">
                                <a th:href="@{/historial/listado}" class="btn btn-primary">
                                    <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                                </a>
                            </div>
                            <div class="col-md-4 d-grid">                                
                                <a th:href="@{/historial/eliminar/}+${historial.id}" class="btn btn-danger">
                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                </a>
                            </div>
                            <div class="col-md-4 d-grid">
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-check"></i> [[#{accion.guardar}]]
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>