<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>VetPulse</title>
    </head>
    <body class="bg-dark text-light">

        <!-- Sección para crear el botón de agregar -->
        <section th:fragment="botonesAgregar" class="py-4 mb-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarMedicamento">
                            <i class="fas fa-plus"></i> [[#{medicamento.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Fragmento para agregar medicamento, es la ventana modal, para poder agregar medicamentos -->
        <section th:fragment="agregarMedicamento">
            <div id="agregarMedicamento" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content bg-dark text-light">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{medicamento.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/medicamento/guardar}" th:object="${medicamento}" method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="nombre">[[#{medicamento.nombre}]]</label>
                                    <input type="text" class="form-control" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="descripcion">[[#{medicamento.descripcion}]]</label>
                                    <input type="text" class="form-control" name="descripcion" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="dosificacion">[[#{medicamento.dosificacion}]]</label>
                                    <input type="text" class="form-control" name="dosificacion" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="precio">[[#{medicamento.precio}]]</label>
                                    <input type="number" class="form-control" name="precio" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="imagen">[[#{medicamento.imagen}]]</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>
                                <div class="mb-3">
                                    <label for="activo">[[#{medicamento.activo}]]</label>
                                    <input class="form-check-input" type="checkbox" name="activo" id="activo"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">[[#{accion.guardar}]]</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Listado de medicamentos -->
        <section th:fragment="listadoMedicamentos" id="medicamentos">
            <div class="container">
                <div class="row">
                    <div class="col-md-16">
                        <div class="card bg-dark">
                            <div class="card-header">
                                <h4>[[#{medicamento.listado}]]</h4>
                            </div>
                            <div th:if="${medicamentos != null and !medicamentos.empty}">
                                <table class="table table-striped table-hover table-dark">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>[[#{medicamento.nombre}]]</th>
                                            <th>[[#{medicamento.descripcion}]]</th>
                                            <th>[[#{medicamento.dosificacion}]]</th>
                                            <th>[[#{medicamento.precio}]]</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="medicamento, contador : ${medicamentos}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${medicamento.nombre}]]</td>
                                            <td>[[${medicamento.descripcion}]]</td>
                                            <td>[[${medicamento.dosificacion}]]</td>
                                            <td>[[${medicamento.precio}]]</td>
                                            <td>
                                                <!-- Botones de acciones para cada medicamento -->
                                                <a th:href="@{/medicamentos/modificar/}+${medicamento.idMedicamento}" class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]
                                                </a>
                                                <a th:href="@{/medicamentos/eliminar/}+${medicamento.idMedicamento}" class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${medicamentos == null or medicamentos.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                    <!-- Aquí puedes agregar cualquier otra sección adicional, como estadísticas -->
                </div>
            </div>
        </section>

        <!-- editarMedicamento -->
        <section th:fragment="editarMedicamento">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST" th:action="@{/medicamento/guardar}" th:object="${medicamento}" class="was-validated">
                        <!-- Aquí se pueden incluir campos ocultos si es necesario -->
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="card bg-dark text-light">
                                        <div class="card-header">
                                            <h4>[[#{accion.actualizar}]]</h4>
                                        </div>
                                        <div class="card-body">
                                            <!-- Campos de edición para el medicamento -->
                                            <div class="mb-3">
                                                <label for="nombre">[[#{medicamento.nombre}]]</label>
                                                <input type="text" class="form-control" name="nombre" th:field="*{nombre}" required="true">
                                            </div>
                                            <div class="mb-3">
                                                <label for="descripcion">[[#{medicamento.descripcion}]]</label>
                                                <input type="text" class="form-control" name="descripcion" th:field="*{descripcion}" required="true">
                                            </div>
                                            <div class="mb-3">
                                                <label for="dosificacion">[[#{medicamento.dosificacion}]]</label>
                                                <input type="text" class="form-control" name="dosificacion" th:field="*{dosificacion}" required="true">
                                            </div>
                                            <div class="mb-3">
                                                <label for="precio">[[#{medicamento.precio}]]</label>
                                                <input type="text" class="form-control" name="precio" th:field="*{precio}" required="true">
                                            </div>
                                            <div class="mb-3">
                                                <label for="activo">[[#{medicamento.activo}]]</label>
                                                <input class="form-check-input" type="checkbox" 
                                                       name="activo" th:field="*{activo}"
                                                       id="activo"/>
                                            </div>
                                            <div class="mb-3">
                                                <label for="imagen">[[#{producto.imagen}]]</label>
                                                <input class="form-control" type="file" 
                                                       name="imagenFile" onchange="readURL(this);"/>
                                                <img id="blah" src="#" alt="your image" height="200"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 d-grid">
                                <a th:href="@{/medicamento/listado}" class="btn btn-primary">
                                    <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                                </a>
                            </div>
                            <div class="col-md-4 d-grid">                                
                                <a th:href="@{/medicamento/eliminar/}+${medicamento.id}" class="btn btn-danger">
                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                </a>
                            </div>
                            <div class="col-md-4 d-grid">
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-check"></i> [[#{accion.guardar}]]
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- BOTONES EDITAR -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/medicamento/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/medicamento/eliminar/}+${medicamento.id}" class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>
