<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>VetPulse</title>
    </head>
    <body>
        <!-- Sección para crear el botón de agregar -->
        <!-- Aqui se realiza la creacion del boton agregar-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarMascota">
                            <i class="fas fa-plus"></i> [[#{mascota.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Fragmento para agregar mascota, es la ventana modal, para poder agregar mascotas -->
        
        <section th:fragment="agregarMascota">
            <div id="agregarMascota" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{mascota.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/mascota/guardar}" th:object="${mascota}" method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <!-- Campos para agregar mascota -->
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">[[#{accion.guardar}]]</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- CLIENTES -->
        <section th:fragment="listadoMascotas" id="mascotas">
            <div class="container">
                <div class="row">
                    <div class="col-md-16">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{mascota.listado}]]</h4>
                            </div>
                            <div th:if="${mascotas != null and !mascotas.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>[[#{mascota.nombre}]]</th>
                                            <th>[[#{mascota.especie}]]</th>
                                            <th>[[#{mascota.raza}]]</th>
                                            <th>[[#{cliente.nombre}]]</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="mascota, contador : ${mascotas}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${mascota.nombre}]]</td>
                                            <td>[[${mascota.especie}]]</td>
                                            <td>[[${mascota.raza}]]</td>
                                            <td>[[${mascota.cliente.nombre}]]</td>
                                            <td>
                                                <!-- Botones de acciones para cada mascota -->
                                                <a th:href="@{/mascota/editar/}+${mascota.idMascota}" class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]
                                                </a>
                                                <a th:href="@{/mascota/eliminar/}+${mascota.idMascota}" class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${mascotas == null or mascotas.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                    <!-- Aquí puedes agregar cualquier otra sección adicional, como estadísticas -->
                </div>
            </div>
        </section>

        <!-- editarMascota -->
        <section th:fragment="editarMascota">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST" th:action="@{/mascota/guardar}" th:object="${mascota}" class="was-validated">
                        <!-- Aquí se pueden incluir campos ocultos si es necesario -->
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4>[[#{accion.actualizar}]]</h4>
                                        </div>
                                        <div class="card-body">
                                            <!-- Campos de edición para el mascota -->
                                            <div class="mb-3">
                                                <label for="nombre">[[#{mascota.nombre}]]</label>
                                                <input type="text" class="form-control" name="nombre" th:field="*{nombre}" required="true">
                                            </div>
                                            <div class="mb-3">
                                                <label for="direccion">[[#{mascota.direccion}]]</label>
                                                <input type="text" class="form-control" name="direccion" th:field="*{direccion}" required="true">
                                            </div>
                                            <div class="mb-3">
                                                <label for="telefono">[[#{mascota.telefono}]]</label>
                                                <input type="text" class="form-control" name="telefono" th:field="*{telefono}" required="true">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 d-grid">
                                <a th:href="@{/mascota/listado}" class="btn btn-primary">
                                    <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                                </a>
                            </div>
                            <div class="col-md-4 d-grid">                                
                                <a th:href="@{/mascota/eliminar/}+${mascota.id}" class="btn btn-danger">
                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                </a>
                            </div>
                            <div class="col-md-4 d-grid">
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-check"></i> [[#{accion.guardar}]]
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>


        <!-- BOTONES EDITAR -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/mascota/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/mascota/eliminar/}+${mascota.id}" class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>
